.sr{
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%); */
    backdrop-filter: blur(13px);
    background-color: rgba(192,196,204,0.40);
}

.fa-weixin:before {
    content: "/";
}